In [3]:
# Import packages
import pandas as pd
import numpy as np
import pickle
%matplotlib inline

In [135]:
# Import valence datasets
# Import valence datasets
pos_valence_data = pd.read_csv('/Users/alentersakyan/GitHub/Metis-Project-2/Pos_Valence.txt')
neg_valence_data = pd.read_csv('/Users/alentersakyan/GitHub/Metis-Project-2/Neg_Valence.txt')
# Examine valence datasets to ensure correct parsing
#print(pos_valence_data.head())
#print(neg_valence_data.head())

In [136]:
pos_valence_data.head()

  Positive Words
0             a+
1         abound
2        abounds
3      abundance
4       abundant

In [137]:
# Import main dataset
df = pd.read_csv('/Users/alentersakyan/GitHub/Metis-Project-2/data.csv')

In [205]:
#test_df2 = test_df[0:10]

## Function to clean up strings, applied to 'description' column data
## This gives us a clean list of strings for the 'description' so we can do valence work

In [217]:
def clean_text(s):
    '''Function to clean up special chars from strings, and make lower case'''
    for c in ['{','}', '!','"', ",", ':', '/', "&", "-", "(", ")", "."]:
        s=s.replace(c,'').lower()
    return s.split(' ')

In [207]:
#df.amenities = df.amenities.apply(clean_text)

In [216]:
df.amenities[10].split(',').replace('translation missing: en.hosting_amenity_50', ' ')

AttributeError: 'list' object has no attribute 'replace'

In [140]:
# for index, row in test_df2.iterrows():
#     print(row['description'])

In [141]:
df['description'] = df['description'].apply(clean_text)

In [142]:
df['description'].head(10)

0    [beautiful, sunlit, brownstone, 1bedroom, in, ...
1    [enjoy, travelling, during, your, stay, in, ma...
2    [the, oasis, comes, complete, with, a, full, b...
3    [this, lightfilled, homeawayfromhome, is, supe...
4    [cool, cozy, and, comfortable, studio, located...
5    [beautiful, private, room, overlooking, scenic...
6    [warm, and, cozy, studio, with, full, kitchen,...
7    [arguably, the, best, location, and, safest, i...
8    [garden, studio, with, private, entrance, from...
9    [quiet, community, close, to, supermarketsrest...
Name: description, dtype: object

In [147]:
# Examine a few descriptions
print(df['description'][0])
print(df['description'][11])
print(df['description'][45])
print(df['description'][67])
print(df['description'][189])
print(df['description'][199])

['beautiful', 'sunlit', 'brownstone', '1bedroom', 'in', 'the', 'loveliest', 'neighborhood', 'in', 'brooklyn', 'blocks', 'from', 'the', 'promenade', 'and', 'brooklyn', 'bridge', 'park', 'with', 'their', 'stunning', 'views', 'of', 'manhattan', 'and', 'from', 'the', 'great', 'shopping', 'and', 'food']
['a', '1044', 'sq', 'ft', "1950's", 'beach', 'house', '3', 'blocks', 'from', 'the', 'beach', 'on', 'the', 'green', 'belt', '1', 'block', 'from', 'the', 'valley', 'park', 'situated', 'between', 'the', 'manhattan', 'and', 'hermosa', 'piers', 'close', 'to', 'all', 'the', 'southbay', 'has', 'to', 'offer', 'this', 'is', 'a', '1044sq', 'ft', "1950's", 'beach', 'house', 'with', 'an', 'open', 'floor', 'plan', 'one', 'bedroom', 'has', 'an', 'antique', 'queen', 'bed', 'the', '2nd', 'bedroomoffice', 'has', 'a', 'full', 'size', 'murphy', 'bed', 'and', 'a', 'sofa', 'wfoldout', 'bed', 'in', 'the', 'living', 'room', 'beach', 'gear', 'is', 'available;', 'chairs', 'towels', 'umbrellas', 'one', 'car', 'garage', 'no', 'garage', 'door', 'opener', 'ample', 'free', 'street', 'parking', 'available', 'no', 'permit', 'required', 'i', 'can', 'usually', 'park', 'right', 'in', 'front', 'of', 'the', 'house', 'the', 'laundry', 'room', 'is', 'accessed', 'through', 'the', 'garage', 'side', 'door', 'luggage', 'racks', 'closet', 'space', 'and', 'dressers', 'in', 'each', 'bedroom', 'for', 'guest', 'use', 'i', 'try', 'not', 'to', 'disturb', 'my', 'guests', 'unnecessarily', 'during', 'their', 'stay', 'but', 'am', 'available', 'if', 'needed', "i've", 'lived', 'in', 'the', 'southbay', 'since', '1969', 'i', 'hope', 'you', 'enjoy', 'stay', 'as', 'much', 'as', 'i', 'have', 'loved', 'living', 'here', 'for', 'so', 'many', 'years', 'it', 'is', 'a', 'residential', 'family', 'friendly', 'neighborhood', 'hermosa', 'means', '']
['beautiful', 'apartment', 'at', 'the', 'heart', 'of', 'the', 'upper', 'east', 'side', 'perfect', 'for', 'any', 'couple', 'or', 'family', 'the', 'illustrious', 'upper', 'east', 'side', 'is', 'widely', 'renowned', 'for', 'its', 'highquality', 'residential', 'living', 'and', 'its', 'worldclass', 'cultural', 'institutions', 'this', 'neighborhood', 'is', 'famous', 'for', 'being', 'safe', 'green', 'and', 'beautiful', 'so', 'itâ€™s', 'no', 'wonder', 'that', 'the', 'upper', 'east', 'side', 'is', 'easily', 'one', 'of', 'the', 'most', 'charming', 'neighborhoods', 'in', 'manhattan']
['penthouse', 'level', 'unit', 'with', 'balcony', 'and', 'sunset', 'view', 'located', 'the', 'artsy', 'district', 'of', 'north', 'hollywood', 'ca', 'this', 'unit', 'has', 'access', 'to', 'a', 'gym', 'pool', 'and', 'spa', 'onsite', 'full', 'kitchen', 'with', 'dishwasher', 'in', 'the', 'unit', 'as', 'well', 'as', 'a', 'washer', 'and', 'dryer', 'walking', 'distance', 'to', 'many', 'popular', 'bars', 'and', 'eateries', 'about', 'a', '5', 'minute', 'uber', 'drive', 'to', 'hollywood', 'and', 'universal', 'studios']
['real', 'luxury', 'with', 'a', 'home', 'feel', '', 'complimentary', 'continental', 'breakfast', 'at', 'rooftop', 'weekdays', '24', 'hour', 'gym', 'access', '', 'hardwood', 'floors', 'chandelier', 'renovated', 'finishes', '', 'huge', 'windows', 'in', 'room', '', 'restaurants', 'markets', 'banks', 'everything', 'you', 'need', 'a', 'step', 'away', '', '24', 'hour', 'pharmacy', 'right', 'next', 'door', '5', 'minutes', 'walk', 'from', 'seaport', '10', 'minutes', 'from', 'battery', 'park', 'beautiful', 'area', 'for', 'jogging', 'or', 'just', 'a', 'nice', 'stroll', '', 'nice', 'homey', 'apartment', 'organized', 'and', 'clean', 'always', '', 'full', 'access', 'to', 'amenities', 'minimum', 'interaction', 'available', 'to', 'help', 'when', 'needed', 'via', 'phone', 'or', 'text', 'several', 'train', 'lines', 'less', 'than', '5', 'minutes', 'walking', 'no', 'shoes', 'in', 'house', '', '', 'wifi', 'and', 'tv', 'available', 'in', 'lounge']
['you', 'will', 'love', 'my', 'apartment', 'once', 'you', 'enter', 'the', 'front', 'door', 'this', 'amazing', 'luxury', 'apartment', 'features', 'high', 'ceilings', 'beautiful', 'white', 'tile', 'floors', 'central', 'ac', 'recessed', 'lighting', 'and', 'floor', 'to', 'ceiling', 'windows', 'which', 'brings', 'in', 'tons', 'of', 'natural', 'light', 'there', 'is', 'also', 'a', 'dishwasher', 'and', 'wd', 'in', 'the', 'apartment', 'the', 'bedroom', 'has', 'a', 'queen', 'bed', 'dresser', 'stand', 'up', 'mirror', 'and', 'lot', 'of', 'closet', 'space', 'spacious', 'living', 'room', 'with', 'a', 'comfy', 'couch', 'desk', 'w', 'chair', 'full', 'body', 'mirror', '60', 'tv', 'with', 'cable', 'and', 'bar', 'table', 'for', 'your', 'enjoyment', 'located', 'close', 'to', 'j', 'train', 'chauncey', 'and', 'l', 'train', 'wilson']

## Valence

Need to loop through each 'description' column (newly cleaned/stripped) and count # of matches to pos/ neg valence lists

In [143]:
test_pos = ['sunlit', 'loveliest', 'stunning', 'great']
test_neg = ['Brooklyn']

In [144]:
description = df['description'][0]
print(description)

['beautiful', 'sunlit', 'brownstone', '1bedroom', 'in', 'the', 'loveliest', 'neighborhood', 'in', 'brooklyn', 'blocks', 'from', 'the', 'promenade', 'and', 'brooklyn', 'bridge', 'park', 'with', 'their', 'stunning', 'views', 'of', 'manhattan', 'and', 'from', 'the', 'great', 'shopping', 'and', 'food']

## How to apply this logic to loop through all rows in pandas DF

In [154]:
pos_count = 0
neg_count = 0

words = df['description'][0]

for word in words: # words = description so need to make this iterate
    num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
    if num_pos_matches > 0:
        pos_count += 1
    num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
    if num_neg_matches > 0:
        neg_count += 1
total_count = pos_count - neg_count
    
print(total_count)
print(pos_count)
print(neg_count)
    
#     #print(word)
#         print(pos_word)
#         print(word)
#         break
#         if word in pos_word:
#         #print(word)
#             pos_count.append(word)
#     for index, neg_word in neg_valence_data.items():
#         if word in neg_word:
#         #print(word)
#             neg_count.append(word)
# print(pos_count)
#print(neg_count)
# print(len(pos_count))
#print(len(neg_count))

3
3
0

In [155]:
pos_count = 0
neg_count = 0

words = df['description'].iteritems()

for word in words: # words = description so need to make this iterate
    num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
    if num_pos_matches > 0:
        pos_count += 1
    num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
    if num_neg_matches > 0:
        neg_count += 1
total_count = pos_count - neg_count
    
print(total_count)
print(pos_count)
print(neg_count)
    
#     #print(word)
#         print(pos_word)
#         print(word)
#         break
#         if word in pos_word:
#         #print(word)
#             pos_count.append(word)
#     for index, neg_word in neg_valence_data.items():
#         if word in neg_word:
#         #print(word)
#             neg_count.append(word)
# print(pos_count)
#print(neg_count)
# print(len(pos_count))
#print(len(neg_count))

KeyboardInterrupt:

In [138]:
pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]

0

# Testing on smaller/test DF

Make function to iterate through cleaned 'description' column, then apply() to df['description']
Or, df.iterrows? Which is better?

## __Need to check against DFs of pos/neg, not test lists like I have here__....once iterated over all, check variance on this, might want to do all positive, versus pos-neg

In [ ]:
# # Need to 
# def valence_count(description_column):
#     '''Input DF column 'description', cross ref to pos/neg list of words and get count of each. Return sum\
#     of pos and neg words to get a total valence score'''
#     pos_count = []
#     neg_count = []
#     for word in description_column:
#         #print(word)
#         if word in test_pos:
#             #print(word)
#             pos_count.append(word)
#         if word in test_neg:
#             neg_count.append(word)
#     #return (len(pos_count))
#     return (len(pos_count) - len(neg_count))

In [147]:
# def valence_count(description_column):
#     pos_count = 0
#     neg_count = 0
#     #words = df['description'].iteritems()
#     for word in description_column: # words = description so need to make this iterate
#         num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
#         if num_pos_matches > 0:
#             pos_count += 1
#         num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
#         if num_neg_matches > 0:
#             neg_count += 1
#     total_count = pos_count - neg_count
    
#     print(pos_count)
#     print(neg_count)
#     return total_count

In [186]:
def valence_count(description_column):
    '''Get valence count (how positive) for the descriptions the hosts write. This works by matching\
    the words in the description to online lists of pos/neg valence words'''
    print(type(description_column))
    pos_count = 0
    neg_count = 0
    #words = df['description'].iteritems()
    for word in description_column: # words = description so need to make this iterate
        num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
        if num_pos_matches > 0:
            pos_count += 1
        num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
        if num_neg_matches > 0:
            neg_count += 1
    total_count = pos_count - neg_count
    return total_count

In [189]:
df['description']

0        Beautiful, sunlit brownstone 1-bedroom in the ...
1        Enjoy travelling during your stay in Manhattan...
2        The Oasis comes complete with a full backyard ...
3        This light-filled home-away-from-home is super...
4        Cool, cozy, and comfortable studio located in ...
                               ...
74106                            one room in bushwick apt
74107    Located on the Pacific Coast Highway, this apa...
74108    A modern apartment located in East Williamsbur...
74109    Fully renovated, designer's studio located in ...
74110    You will stay-aboard the Island Trader at one ...
Name: description, Length: 74111, dtype: object

In [188]:
test_df2['description'].apply(valence_count)

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: description, dtype: int64

In [178]:
pos_count = 0
neg_count = 0

#words = test_df2['description'].iteritems()

words = test_df2['description'][2].lower()
for word in words: # words = description so need to make this iterate
    num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
    if num_pos_matches > 0:
        pos_count += 1
    num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
    if num_neg_matches > 0:
        neg_count += 1
total_count = pos_count - neg_count
    

print(pos_count)
print(neg_count)

0
0

In [177]:
test_df2['description'][2].lower()

"the oasis comes complete with a full backyard with outdoor furniture to make the most of this summer vacation!!  the unit has high ceilings, a completed renovation throughout, beautiful flood lighting and exposed brick! best part, total seclusion. you share with no one! the entire unit is yours during your stay.  it's a fully furnished apartment that can hold up to 5 people. the only items you need are a toothbrush and your luggage!!! the unit has high ceilings, a completed renovation throughout, beautiful flood lighting and exposed brick! not to mention the large backyard complete with ourdoor furniture.  best part, total seclusion. you share with no one! the entire unit is yours during your stay. the entire unit and backyard garden area my assistant is available off site via phone.   other than that, you will be alone for your stay. the neighborhood of central harlem is very diverse and full of culture! we are a few blocks from historic 125th street, the apollo theatre, the schomburg"

# To test function and count of valence words, create small DF from original and test below
# Sat night-- error, not working correclty?!

In [152]:
test_df2 = df[:20].copy()

In [190]:
test_df2.description

0     Beautiful, sunlit brownstone 1-bedroom in the ...
1     Enjoy travelling during your stay in Manhattan...
2     The Oasis comes complete with a full backyard ...
3     This light-filled home-away-from-home is super...
4     Cool, cozy, and comfortable studio located in ...
5     Beautiful private room overlooking scenic view...
6     Warm and cozy studio with full kitchen and bat...
7     Arguably the best location (and safest) in dow...
8     Garden Studio with private entrance from the s...
9     Quiet community. Close to supermarkets,restaur...
10    This is a bright bedroom in an historic buildi...
11    A 1044 sq. ft., 1950's beach house. 3 Blocks f...
12    Newly furnished room in beach apartment one st...
13    Amazing location at the heart of U street and ...
14    This apartment is charming and wonderful. Beau...
15    Just west of vibrant Wicker Park and Ukranian ...
16    Our place IS Six Corners! Top floor of 4 story...
17    This is a nice duplex in a good location.Recen...
18    I am renting a very spacious, unique, bright L...
19    Huge 3 bedroom apartment situated in Flatbush,...
Name: description, dtype: object

In [191]:
def clean_text(s):
    '''Function to clean up special chars from strings, and make lower case'''
    for c in ['{','}', '!','"', ",", ':', '/', "&", "-", "(", ")", "."]:
        s=s.replace(c,'').lower()
    return s.split(' ')

In [194]:
df['description'].apply(clean_text)

0        [beautiful, sunlit, brownstone, 1bedroom, in, ...
1        [enjoy, travelling, during, your, stay, in, ma...
2        [the, oasis, comes, complete, with, a, full, b...
3        [this, lightfilled, homeawayfromhome, is, supe...
4        [cool, cozy, and, comfortable, studio, located...
                               ...
74106                     [one, room, in, bushwick, apt, ]
74107    [located, on, the, pacific, coast, highway, th...
74108    [a, modern, apartment, located, in, east, will...
74109    [fully, renovated, designer's, studio, located...
74110    [you, will, stayaboard, the, island, trader, a...
Name: description, Length: 74111, dtype: object

In [192]:
test_df2.apply(clean_text)

AttributeError: ("'Series' object has no attribute 'lower'", 'occurred at index id')

In [153]:
test_df2['test_counter_valence'] = test_df2['description'].apply(valence_count)

In [154]:
test_df2['test_counter_valence']

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: test_counter_valence, dtype: int64

In [22]:
test_df2['amenities']

0     {"Wireless Internet","Air conditioning",Kitche...
1     {"Wireless Internet","Air conditioning",Kitche...
2     {TV,"Cable TV","Wireless Internet","Air condit...
3     {TV,"Cable TV",Internet,"Wireless Internet",Ki...
4     {TV,Internet,"Wireless Internet","Air conditio...
5     {TV,"Wireless Internet",Heating,"Smoke detecto...
6     {TV,Internet,"Wireless Internet","Air conditio...
7     {TV,"Cable TV","Wireless Internet","Wheelchair...
8     {TV,"Cable TV","Wireless Internet","Pets live ...
9     {"Wireless Internet","Air conditioning",Kitche...
10    {Internet,"Wireless Internet","Air conditionin...
11    {TV,"Cable TV",Internet,"Wireless Internet",Ki...
12    {TV,Internet,"Wireless Internet",Kitchen,"Free...
13    {TV,"Cable TV",Internet,"Wireless Internet","A...
14    {Kitchen,Heating,"Smoke detector","Carbon mono...
15    {Internet,"Wireless Internet","Air conditionin...
16    {TV,"Wireless Internet",Kitchen,"Pets allowed"...
17    {Internet,"Wireless Internet","Air conditionin...
18    {TV,"Cable TV",Internet,"Wireless Internet","A...
19    {TV,"Wireless Internet","Air conditioning",Kit...
Name: amenities, dtype: object

In [15]:
def amenity_count(amenities):

    if amenities.split(',')[-1] == '"translation missing: en.hosting_amenity_50"}':
        tmp = amenities.split(',')
        del tmp[-1]
    else:
        tmp = amenities.split(',')
    return len(tmp)

In [19]:
test_df2['test_count_am'] = test_df2['amenities'].apply(amenity_count)

In [20]:
test_df2['test_count_am']

0      8
1     14
2     18
3     15
4     12
5     10
6     21
7     26
8     21
9     12
10    14
11    22
12    17
13    25
14     6
15    12
16    17
17    18
18    18
19    24
Name: test_count_am, dtype: int64

In [26]:
len(test_df2['amenities'][0].split(','))

9

In [28]:
test_df2['amenities'][1].split(',')

['{"Wireless Internet"',
 '"Air conditioning"',
 'Kitchen',
 'Heating',
 '"Family/kid friendly"',
 'Washer',
 'Dryer',
 '"Smoke detector"',
 '"Fire extinguisher"',
 'Essentials',
 'Shampoo',
 'Hangers',
 '"Hair dryer"',
 'Iron',
 '"translation missing: en.hosting_amenity_50"}']

In [183]:
# pos_count = 0
# neg_count = 0
# #words = test_df2['description'].iteritems()
# for word in words: # words = description so need to make this iterate
#     print(type(word))
#     num_pos_matches = pos_valence_data[pos_valence_data['Positive Words'] == word].shape[0]
#     if num_pos_matches > 0:
#         pos_count += 1
#     num_neg_matches = neg_valence_data[neg_valence_data['Negative Words'] == word].shape[0]
#     if num_neg_matches > 0:
#         neg_count += 1
# total_count = pos_count - neg_count
# print(total_count)

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
0

In [29]:
len(test_df2['amenities'][1].split(','))

15

In [33]:
test_df2.description = test_df2.description.str.lower()

In [35]:
test_df2['description'][1]

"enjoy travelling during your stay in manhattan. my place is centrally located near times square and central park with easy access to main subways as well as walking distance to many popular restaurants and bus tours. my place is close to the subway, totto ramen, hell's kitchen, ippudo westside, empanada mama, intrepid sea, air & space museum. my place has three true bedrooms and one bathroom. the kitchen is stocked with stainless steel appliances like the keurig machine. the living room is spacious and can accommodate another person thanks to the pull out bed. my place is centrally located to some of the top attractions in the city. feel free to explore the entire apartment and do not worry about sharing the space with any strangers. this is all yours during your stay. i am available via text/email/phone for anything you might need. - times square - rockefeller plaza - central park  - 5th avenue shopping  -broadway theater district  - empire state building  - hudson river express subwa"

In [73]:
wiki_url = 'https://en.wikipedia.org/wiki/Tourism_in_New_York_City'

In [74]:
tables_pd = pd.read_html(wiki_url)

In [198]:
tourist_dest = tables_pd[1]

In [199]:
#tourist_dest

# Function to count and tally number of mentions of top tourism dests in NYC

In [113]:
def count_tourism_mentions(description_column):
    '''Search description column for mentions of top tourism locations in NY.\
    Data for tourist dests taken from scraped wiki table. Assumes description col of main df\
    has been made lower().'''
    tourism_mentions = 0
    for x in tourist_dest.Name.str.lower(): # search tourist dest df
        if description_column.__contains__(x):
            tourism_mentions += 1
    test_df2['tourism_mentions'] = tourism_mentions
            #tourism_mentions += 1
    return tourism_mentions

In [215]:
for x in tourist_dest.Name.str.lower():
    #print(x)
    if test_df2.description[1].__contains__(x):
        print('yes')

yes
yes
yes

In [210]:
test_df2.description = test_df2.description.str.lower()

In [211]:
test_df2.description[1].__contains__('times square')

True

In [212]:
test_df2.description[1]

"enjoy travelling during your stay in manhattan. my place is centrally located near times square and central park with easy access to main subways as well as walking distance to many popular restaurants and bus tours. my place is close to the subway, totto ramen, hell's kitchen, ippudo westside, empanada mama, intrepid sea, air & space museum. my place has three true bedrooms and one bathroom. the kitchen is stocked with stainless steel appliances like the keurig machine. the living room is spacious and can accommodate another person thanks to the pull out bed. my place is centrally located to some of the top attractions in the city. feel free to explore the entire apartment and do not worry about sharing the space with any strangers. this is all yours during your stay. i am available via text/email/phone for anything you might need. - times square - rockefeller plaza - central park  - 5th avenue shopping  -broadway theater district  - empire state building  - hudson river express subwa"